/*CSS Smooth Dropdown dropdown*/
/*-----------Smooth Dropdown Menus------------------*/
/*Dropdown and dropdown Transitions*/
/*Designate item as hover box container*/
.hover-expand-container {
  position: relative;
  display: inline-block;
  /*Designate an item as hidden hover expand box*/
  /*Allows for extended size hover-expand-box*/
  /*-------------Interactive Settings-------------*/
  /*Expand that child hover-expand-box elements when sibling button container is hovered on*/
  /*Remain expanded when hovered over within hover-expand-box.*/
  /*Can extend the dropdown area if needed by adding in the
  hover-expand-box-extended class*/
  /*------------Transitions---------------*/ }
  .hover-expand-container .double-wide {
    width: 200%; }
  .hover-expand-container .triple-wide {
    width: 300%; }
  .hover-expand-container a {
    color: white; }
  .hover-expand-container .dropdown-button {
    position: relative;
    height: auto;
    width: auto;
    background-color: transparent;
    color: black;
    cursor: pointer; }
  .hover-expand-container .dropdown-option {
    min-width: 100%;
    height: auto-1px;
    text-align: center;
    background-color: #d9c09e;
    border-top: 1px solid none;
    position: relative; }
  .hover-expand-container .hover-expand-box {
    height: 0;
    min-width: 100%;
    overflow: hidden;
    top: 100%;
    position: relative;
    opacity: 0;
    background-color: transparent; }
  .hover-expand-container .hover-expand-box-expanded {
    height: 150px;
    opacity: 1; }
  .hover-expand-container .dropdown-button:hover ~ .hover-expand-box,
  .hover-expand-container .hover-expand-box:hover {
    height: 150px;
    min-width: 100%;
    opacity: 1;
    overflow: auto; }
  .hover-expand-container .dropdown-button:hover ~ .hover-expand-box-extended,
  .hover-expand-container .hover-expand-box-extended:hover {
    height: 400px; }
  .hover-expand-container .dropdown-button:hover ~ .hover-expand-box,
  .hover-expand-container .hover-expand-box:hover {
    transition: height 1s, opacity 0.5s; }
  .hover-expand-container .hover-expand-box {
    transition: height 0.5s, opacity 1s; }

/*------*Optional Media Queries*------*/
/*If mobile variant, set media query width and flag with
the 'expand-if-mobile' class to set all expandables to expanded state.*/
.expand-if-mobile {
  /*If element is both has classes 'dropdown-button' and 'default_cursor'
  causes the cursor to return to default*/ }
  @media screen and (max-width: 480px) {
    .expand-if-mobile .hover-expand-box, .expand-if-mobile .dropdown-button:hover ~ .hover-expand-box,
    .expand-if-mobile .hover-expand-box:hover {
      opacity: 1;
      height: auto;
      overflow: none; } }
  @media print {
    .expand-if-mobile .hover-expand-box {
      opacity: 1;
      height: auto;
      overflow: default; } }
  @media screen and (max-width: 480px) {
    .expand-if-mobile .dropdown-button {
      cursor: default; } }

/*-----Print friendly------*/
.print_button_container {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px; }

#request_print_friendly_button {
  cursor: pointer;
  border-radius: 10px;
  background-color: tan;
  display: inline-block;
  padding: 5px;
  width: 100px; }

@media print {
  .hide_if_print {
    display: none; } }

/*-----------End Smooth Dropdown Menus------------------*/
