/*CSS Smooth Dropdown dropdown*/
/*-----------Smooth Dropdown Menus------------------*/
/*Dropdown and dropdown Transitions*/
/*Designate item as hover box container*/
.hover-expand-container {
  position: relative;
  display: inline-block;
  /*Designate an item as hidden hover expand box*/
  /*Allows for extended size hover-expand-box*/
  /*-------------Interactive Settings-------------*/
  /*Expand that child hover-expand-box elements when sibling button container is hovered on*/
  /*Remain expanded when hovered over within hover-expand-box.*/
  /*Can extend the dropdown area if needed by adding in the
  hover-expand-box-extended class*/
  /*------------Transitions---------------*/
  /*------*Optional Media Queries*------*/
  /*If mobile variant, set media query width and flag with
  the 'expand_if_mobile' class to set all expandables to expanded state.*/ }
  .hover-expand-container .double-wide {
    width: 200%; }
  .hover-expand-container .triple-wide {
    width: 300%; }
  .hover-expand-container a {
    color: white; }
  .hover-expand-container .dropdown-button {
    position: relative;
    height: auto;
    width: auto;
    background-color: transparent;
    color: black;
    cursor: pointer; }
  .hover-expand-container .dropdown-option {
    min-width: 100%;
    height: auto-1px;
    text-align: center;
    background-color: #d9c09e;
    border-top: 1px solid none;
    position: relative; }
  .hover-expand-container .hover-expand-box {
    height: 0;
    min-width: 100%;
    overflow: hidden;
    top: 100%;
    position: relative;
    opacity: 0;
    background-color: transparent; }
  .hover-expand-container .hover-expand-box-expanded {
    height: 150px;
    opacity: 1; }
  .hover-expand-container .dropdown-button:hover ~ .hover-expand-box,
  .hover-expand-container .hover-expand-box:hover {
    height: 150px;
    min-width: 100%;
    opacity: 1;
    overflow: auto; }
  .hover-expand-container .dropdown-button:hover ~ .hover-expand-box-extended,
  .hover-expand-container .hover-expand-box-extended:hover {
    height: 400px; }
  .hover-expand-container .dropdown-button:hover ~ .hover-expand-box,
  .hover-expand-container .hover-expand-box:hover {
    transition: height 1s, opacity 0.5s; }
  .hover-expand-container .hover-expand-box {
    transition: height 0.5s, opacity 1s; }
  @media screen and (max-width: 480px) {
    .hover-expand-container {
      /*If element is both has classes 'dropdown-button' and 'default_cursor'
      causes the cursor to return to default*/ }
      .hover-expand-container .hover-expand-box, .hover-expand-container .dropdown-button:hover ~ .hover-expand-box,
      .hover-expand-container .hover-expand-box:hover {
        opacity: 1;
        height: auto;
        overflow: none; }
      .hover-expand-container .dropdown-button.default_cursor_when_mobile {
        cursor: default; } }

/*-----------End Smooth Dropdown Menus------------------*/
